﻿@using System.Text.Encodings.Web
@model PEGRight.SAML.Web.Models.SAMLInfo
@{
    ViewBag.Title = "SAML Reader";
}

<div class="jumbotron text-center">
    <h1>SAML Reader</h1>
</div>
<div class="row">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>SAML Response</td>
                <td>@Model.SAMLResponse</td>
            </tr>
            <tr>
                <td>Decoded SAML Response</td>
                <td>@Html.Raw(Model.SAMLDecode)</td>
            </tr>
        </tbody>
    </table>
</div>
