﻿body { background-color: #F1F1F1; }

.bottom10 {
    margin-bottom: 10px;
}

.btn {
    font-weight: bold;
}

.btn-lg {
    padding: 16px 16px;
}

.btn-default {
    background-color: #979797;
    color: #ffffff;
}

.btn-primary {
    background-color: #459DCD;
}

.btn-warning {
    background-color: #F9A11B;
}

.form-control {
    border: 0px solid transparent;
    height:50px
}

.form-control:focus {
    box-shadow: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 16px 10px 0px 10px;
    pointer-events: none;
    color: #CACACA;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

header .logo {
    text-indent: -9999px;
    background: transparent url(Images/VillageLoginLogo.png) no-repeat center 0;
    display: block;
    height: 85px;
    
}

.full-width-button {
    width: 100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.login-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-help {
    margin: 20px;
}

footer {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}