﻿@model dynamic

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1>Home - Headers</h1>
</div>
<div class="">
    <table class="table table-hover">
        <tbody>
            @foreach (var key in ViewBag.Headers.Keys)
            {
                <tr>
                    <th>@key</th>
                    <td>@ViewBag.Headers[key]</td>
                </tr>
            }
        </tbody>
    </table>
</div>
