﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="container body-content">
    <header>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1 class="logo">DaVita Village Login Service</h1>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <p>Access to this site is limited to DaVita employees. The DaVita Intranet contains proprietary company information. Unauthorized entry may be a violation of state or federal law.</p>
                <p>&copy; 1997 - @DateTime.Now.Year Copyright DaVita Inc. All rights reserved. 2000 16th Street, Denver, CO 80202</p>
            </div>
        </div>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
