﻿<!DOCTYPE html>
<html>
<head>
    <title>SAML Reader</title>
    <link href="./Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <img src="Content/Images/logo.png" alt="PEGRight" />
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./"><i class="fa fa-home"></i> Home</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="container">
        @RenderBody()
    </div>
</body>
</html>
