﻿@{
    ViewBag.Title = "Help";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-10 center-block">
            <p>
                <a href="@Url.Action("Index","ForgotUsername")" class="btn btn-primary btn-lg full-width-button" role="button">Forgot Username</a>
            </p>
            <p>
                <a href="@Url.Action("Index", "ForgotPassword")" class="btn btn-primary btn-lg full-width-button" role="button">Forgot Password</a>
            </p>
            <p>
                <a href="@Url.Action("Index", "ChangePassword")" class="btn btn-primary btn-lg full-width-button" role="button">Change Password</a>
            </p>
            <p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg full-width-button" role="button">Cancel</a>
            </p>
        </div>
    </div>
</div>