﻿@model DaVitaLogin.Models.LoginForm

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-10 center-block">
            <form class="login-form">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    @Html.TextBoxFor(x => x.Username, new {@class = "form-control login-top", @placeholder = "Username"})
                </div>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control login-bottom", @placeholder = "Password"})
                </div>
                <button type="button" class="btn btn-warning btn-lg full-width-button">Login</button>
                @Html.ValidationSummary()
            </form>
            <div class="text-center login-help">
                <a href="@Url.Action("Help", "Home")">Need help?</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}