﻿@model DaVitaLogin.Models.ForgotPasswordChangeForm
@{
    ViewBag.Title = "Forgot Password - Change Password";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="col-md-6">
            <form class="login-form">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control login-top", @placeholder = "New Password" })
                </div>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control login-bottom", @placeholder = "Confirm Password" })
                </div>
                <button type="button" class="btn btn-warning btn-lg full-width-button bottom10">Change Password</button>
                <a href="@Url.Action("Help", "Home")" class="btn btn-default btn-lg full-width-button" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}