﻿@model DaVitaLogin.Models.ForgotPasswordForm
@{
    ViewBag.Title = "Forgot Password";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-10 center-block">
            <form class="login-form">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    @Html.TextBoxFor(x => x.Username, new {@class = "form-control bottom10", @placeholder = "Username"})
                </div>
                <button type="button" class="btn btn-primary btn-lg full-width-button bottom10">Next</button>
                <a href="@Url.Action("Help", "Home")" class="btn btn-default btn-lg full-width-button" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}