﻿@model DaVitaLogin.Models.SecurityQuestionsForm
@{
    ViewBag.Title = "Forgot Password - Security Questions";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-10 center-block">
            <form class="login-form">
                @Html.LabelFor(x => x.Question1.Answer, Model.Question1.Question)
                @Html.PasswordFor(x => x.Question1.Answer, new {@class = "form-control bottom10", @placeholder = "Answer"})
                @Html.LabelFor(x => x.Question2.Question, Model.Question2.Question)
                @Html.PasswordFor(x => x.Question2.Answer, new { @class = "form-control bottom10", @placeholder = "Answer" })
                @Html.LabelFor(x => x.Question3.Question, Model.Question3.Question)
                @Html.PasswordFor(x => x.Question3.Answer, new { @class = "form-control bottom10", @placeholder = "Answer" })
                <button type="button" class="btn btn-primary btn-lg full-width-button bottom10">Next</button>
                <a href="@Url.Action("Help", "Home")" class="btn btn-default btn-lg full-width-button" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}