﻿@model DaVitaLogin.Models.ForgotUsernameForm

@{
    ViewBag.Title = "Forgot Username";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-10 center-block">
            <form class="login-form">
                @Html.TextBoxFor(x => x.LastName, new {@class = "form-control bottom10", @placeholder = "Last Name" })
                @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control login-top", @placeholder = "Date of Birth" })
                @Html.PasswordFor(x => x.LastFourSSN, new { @class = "form-control login-bottom", @placeholder = "Last 4 of your SSN" })
                <button type="button" class="btn btn-primary btn-lg full-width-button bottom10">Login</button>
                <a href="@Url.Action("Help", "Home")" class="btn btn-default btn-lg full-width-button" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}