﻿@model Authenticity.JWT.Models.JWTInfo
@{
    ViewBag.Title = "Validation - JWT Cookie";
}

<div class="jumbotron text-center">
    <h1>Validation - JWT Cookie</h1>
</div>
<div class="row">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Cookie Name</td>
                <td>@Model.CookieName</td>
            </tr>
            <tr>
                <td>Cookie Value</td>
                <td><span style="white-space: pre-line">@Model.CookieValue</span></td>
            </tr>
            <tr>
                <td>JWT Payload</td>
                <td>@Model.JWTPayload</td>
            </tr>
        </tbody>
    </table>
</div>
